a2wsgi==1.10.8
absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiologic==0.14.0
aiosignal==1.3.2
aiosqlite==0.21.0
ale-py==0.11.2
alembic==1.15.2
altair==6.0.0
annotated-types==0.7.0
anyio==4.9.0
apache-airflow==2.5.1
apache-airflow-core==3.0.0
apache-airflow-providers-common-compat==1.6.1
apache-airflow-providers-common-io==1.5.4
apache-airflow-providers-common-sql==1.8.1
apache-airflow-providers-ftp==3.6.1
apache-airflow-providers-http==4.7.0
apache-airflow-providers-imap==3.4.0
apache-airflow-providers-smtp==2.0.3
apache-airflow-providers-sqlite==3.5.0
apache-airflow-providers-standard==1.1.0
apache-airflow-task-sdk==1.0.0
apispec==3.3.2
argcomplete==3.6.2
asgiref==3.11.1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.1.0
audioread==3.0.1
babel==2.17.0
blinker==1.9.0
cachelib==0.13.0
cachetools==6.2.4
cadwyn==5.3.3
cattrs==24.1.3
certifi==2024.8.30
cffi==2.0.0
charset-normalizer==3.3.2
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
colorlog==4.8.0
comm==0.2.2
ConfigUpdater==3.2
connexion==3.2.0
contourpy==1.2.1
crispy-bootstrap5==2026.3
cron-descriptor==1.4.5
croniter==6.0.0
cryptography==49.0.0
cycler==0.12.1
dacite==1.9.2
debugpy==1.8.9
decorator==5.1.1
Deprecated==1.2.18
dill==0.4.0
dj-database-url==3.1.2
Django==6.0.3
django-crispy-forms==2.6
django-webpush==0.3.6
dnspython==2.7.0
email-validator==1.3.1
executing==2.1.0
Farama-Notifications==0.0.6
fastapi==0.115.12
fastapi-cli==0.0.7
filelock==3.20.1
Flask==2.2.5
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.3.1
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
flatbuffers==25.12.19
fonttools==4.51.0
frozenlist==1.6.0
fsspec==2025.3.2
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
googleapis-common-protos==1.70.0
graphviz==0.20.3
greenlet==3.2.1
grpcio==1.71.0
gunicorn==23.0.0
gymnasium==1.2.3
h11==0.16.0
h5py==3.15.1
htmlmin==0.1.12
http_ece==1.2.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
idna==3.10
ImageHash==4.3.1
imbalanced-learn==0.14.0
importlib_metadata==8.6.1
imutils==0.5.4
inflection==0.5.1
ipykernel==6.29.5
ipython==8.30.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kagglehub==1.0.0
kagglesdk==0.1.16
keras==3.13.0
kiwisolver==1.4.5
lazy-object-proxy==1.11.0
lazy_loader==0.4
libclang==18.1.1
libcst==1.7.0
librosa==0.10.2.post1
linkify-it-py==2.0.3
llvmlite==0.43.0
lockfile==0.12.2
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mediapipe==0.10.31
methodtools==0.4.7
ml_dtypes==0.5.4
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.4.3
multimethod==1.12
namex==0.1.0
narwhals==2.14.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.60.0
numpy==2.2.6
opencv-python==4.12.0.88
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opt_einsum==3.4.0
optree==0.18.0
packaging==24.0
pandas==2.2.3
parso==0.8.4
pathspec==0.9.0
patsy==1.0.1
pendulum==3.1.0
phik==0.12.4
pillow==10.3.0
platformdirs==4.3.6
plotly==6.7.0
pluggy==1.5.0
polars==1.36.1
polars-runtime-32==1.36.1
pooch==1.8.2
prison==0.2.1
prompt_toolkit==3.0.48
propcache==0.3.1
protobuf==5.29.4
psutil==6.1.0
psycopg2-binary==2.9.10
pure_eval==0.2.3
py-vapid==1.9.4
pyarrow==22.0.0
PyAudio==0.2.14
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pygame==2.6.1
pygame-ce==2.5.7
Pygments==2.18.0
PyJWT==2.10.1
pyparsing==3.1.2
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
python-nvd3==0.16.0
python-slugify==8.0.4
pytz==2024.2
PyWavelets==1.8.0
pywebpush==2.3.0
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.36.2
requests==2.32.3
requests-toolbelt==1.0.0
retryhttp==1.3.3
rich==14.0.0
rich-argparse==1.7.0
rich-toolkit==0.14.4
rpds-py==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.12.2
setproctitle==1.3.6
setuptools==82.0.1
shellingham==1.5.4
Shimmy==2.0.1
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.0
soundfile==0.12.1
soxr==0.5.0.post1
SpeechRecognition==3.12.0
SQLAlchemy==1.4.49
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.3
stable_baselines3==2.8.0
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.4
streamlit==1.52.2
structlog==25.3.0
svcs==25.1.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
text-unidecode==1.3
threadpoolctl==3.5.0
toml==0.10.2
torch==2.9.1
torchaudio==2.9.1
torchvision==0.24.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typeguard==4.4.2
typer==0.15.3
types-requests==2.32.0.20250328
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
ultralytics==8.3.241
ultralytics-thop==2.0.18
unicodecsv==0.14.1
universal_pathlib==0.2.6
urllib3==2.2.3
uuid==1.30
uuid6==2024.7.10
uvicorn==0.34.2
visions==0.7.6
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.47.0
whitenoise==6.12.0
wirerope==1.0.0
wordcloud==1.9.4
wrapt==1.17.2
WTForms==3.2.1
xgboost==3.1.2
yarl==1.20.0
ydata-profiling==4.13.0
zipp==3.21.0
Django>=5.0
django-crispy-forms>=2.0
crispy-bootstrap5>=2023.10
Pillow>=10.0
psycopg2-binary>=2.9
gunicorn>=21.0
whitenoise>=6.0
dj-database-url>=2.0